{extend name="public:base" /}
{block name="property"}
    <meta name="description" content="">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>电商cms</title>
{/block}

{block name="header"}
    {include file="public:header" /}
{/block}

{block name="left-aside"}
    {include file="public:left" /}
{/block}

{block name="content"}
<section class="content">
    <iframe src="/index" id="main-iframe" frameborder="0" width="100%" height="100%"></iframe>
</section>
{/block}

{block name="script"}

{/block}
