<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {block name="property"}{/block}
    <link rel="shortcut icon" href="img/favicon.html">
    <!-- Bootstrap core CSS -->
    <link href="__RES_ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__RES_ADMIN__/css/bootstrap-reset.css" rel="stylesheet">
    <!-- 字体表 -->
    <link href="__RES_ADMIN__/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- 主要样式表-->
    <link href="__RES_ADMIN__/css/style.css" rel="stylesheet">
    <!-- 响应式css -->
    <link href="__RES_ADMIN__/css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="__RES_ADMIN__/css/plugins/custom.css">
    <link rel="stylesheet" href="__RES_ADMIN__/css/zhuo-style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="__RES_ADMIN__/js/html5shiv.js"></script>
    <script src="__RES_ADMIN__/js/respond.min.js"></script>
    <![endif]-->
    {block name="css"}{/block}
</head>
<body>
    <section id="container" class="">
        {block name="header"}{/block}
        {block name="left-aside"}{/block}
        {block name="content"}{/block}
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="__RES_ADMIN__/js/jquery.js"></script>
    <script src="__RES_ADMIN__/js/bootstrap.min.js"></script>
    <!-- 滚动条样式 -->
    <script src="__RES_ADMIN__/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="__RES_ADMIN__/js/jquery.scrollTo.min.js"></script>
    <!--common script for all pages-->
    <script src="__RES_ADMIN__/js/common-scripts.js"></script>
    <script src="__RES_ADMIN__/js/custom.js"></script>
    <script src="__RES_ADMIN__/lib/loading/loading-1.0.js"></script>
    <script src="__RES_ADMIN__/js/zhuo-common.js"></script>
    {block name="script"}{/block}
</body>
</html>