<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="javascript:;" data-href="/index">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>文章管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="javascript:;" data-href="/artlist">文章列表</a></li>
                    <li><a class="" href="javascript:;" data-href="/artcon">添加文章</a></li>
                    <!--<li><a class="" href="javascript:;" data-href="/artcate">文章分类</a></li>-->
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>分类</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="javascript:;" data-href="/cate">产品分类</a></li>
                </ul>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>商品管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="javascript:;" data-href="/product">商品列表</a></li>
                    <li><a class="" href="javascript:;" data-href="/proAdd">添加商品</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>订单管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="javascript:;" data-href="basic_table.html">订单查询</a></li>
                    <!--<li><a class="" href="form_wizard.html">Form Wizard</a></li>-->
                    <!--<li><a class="" href="form_validation.html">Form Validation</a></li>-->
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>权限管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="javascript:;" data-href="/user">管理员列表</a></li>
                    <li><a class="" href="javascript:;" data-href="/role">角色列表</a></li>
                    <li><a class="" href="javascript:;" data-href="/rule">权限列表</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->