<script src="../../../../public/static/admin/js/jquery.validate.js"></script>
{extend name="public:base" /}
{block name="property"}
<meta name="description" content="">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>电商cms</title>
<!--引入webuploaderCss-->
{Uploader:webuploadercss /}

{/block}


{block name="content"}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        编辑文章
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{:Url('artEditUpdate',['id'=>$artData.id])}" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{$artData.id}">
                                <div class="form-group ">
                                    <label for="art_title" class="control-label col-lg-1">标题</label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" name="name" type="text" value="{$artData.name}" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="art_category_id" class="control-label col-lg-1">分类</label>
                                    <div class="col-lg-2">
                                        <select class="form-control" name="category_id">
                                            <option value='0'>顶级分类</option>
                                            {volist name='cateArr' id='data'}
                                            <option value='{$data.id}' {if condition="$data.id eq $artData.category_id"} selected="selected"{/if}>{$data.level | str_repeat='--',###*2} {$data.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="art_img_url" class="control-label col-lg-1">图片上传</label>
                                    <div class="col-lg-10">
                                        {Uploader:webuploader btnVal="上传缩略图"}
                                        <ul class="filelist filelist-exist clearfix">
                                            {volist name="$imgUrlArr" id="img_url"}
                                            <li class="item state-complete" data-src="{$img_url.url}" data-img_id="{$img_url.id}">
                                                <p class="imgWrap"><img src="{$img_url.url}" width="110" height="110"></p>
                                                <div class="file-panel"><span class="cancel">删除</span></div>
                                                <span class="success"></span>
                                            </li>
                                            {/volist}
                                        </ul>
                                        {/Uploader:webuploader}
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="clickNum" class="control-label col-lg-1">点击数</label>
                                    <div class="col-lg-1">
                                        <input class=" form-control" id="clickNum" name="click_num" type="text" value="{$artData.click_num}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editor" class="control-label col-lg-1">文章编辑</label>
                                    <div class="col-lg-10">
                                        <!-- 加载编辑器的容器 -->
                                        <textarea id="zhuo-container" name="content" type="text/plain" style="width: 100%; height: 350px; overflow-y:auto; ">
                                            {$artData.content|html_entity_decode}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-danger btn-save-submit" type="button">Save</button>
                                        <button class="btn btn-default btn-clear-submit" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
{/block}




{block name="script"}
<script type="text/javascript" src="__RES_ADMIN__/js/jquery.validate.min.js"></script>

<!--script for this page-->
<script src="__RES_ADMIN__/js/messages_zh.min.js"></script>
<!--<script src="__RES_ADMIN__/js/form-validation-script.js"></script>-->

<!--引入webuploaderJS-->
{Uploader:webuploaderjs/}

<!-- 配置文件 -->
<script type="text/javascript" src="__RES_ADMIN__/lib/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__RES_ADMIN__/lib/Ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    var config = {
        "upload_server": "{:url('getSaveNameImg')}",
    };
    $(".filelist-exist").parents(".queueList").css({
        'display': 'block',
        'opacity': 1
    });
    $(".filelist-exist").find("li").hover(function(){
        $(this).find(".file-panel").stop(true).animate({height:"30px"},300);
    },function(){
        $(this).find(".file-panel").stop(true).animate({height:0},300);
    });

    $(".filelist-exist").on("click","span.cancel",function(){
        $li = $(this).parents("li");
        $parents = $li.parents('.filelist-exist');
        $li.remove();
        if($parents.find("li").length == 0){
            $parents.remove();
        }
    });
    //注意：设置编辑器属性要在初始化编辑器之前设置，否则无效果
    window.UEDITOR_CONFIG.initialFrameHeight = 560; //设置编辑框的高度
    //设置编辑器高度不自动加高
    window.UEDITOR_CONFIG.autoHeightEnabled=false;
    //禁止显示元素路径
    window.UEDITOR_CONFIG.elementPathEnabled = false;
    //实例化编辑器
    var ue = UE.getEditor('zhuo-container');



    $(".btn-save-submit").on("click",function(){
        $(this).submit();
    });

    $(".btn-clear-submit").on("click",function(){
        $(':input','#signupForm')
            .not(':button,:submit,:reset,:hidden')   //将myform表单中input元素type为button、submit、reset、hidden排除
            .val('')  //将input元素的value设为空值
            .removeAttr('checked')
            .removeAttr('checked'); // 如果任何radio/checkbox/select inputs有checked or selected 属性，将其移除
    });

    /**
     *
     * $childsDom  元素集
     * attr        属性值
     * delimiter   分隔符
     * len         截取个数
     *
     **/
    function setUpdateUrl($childsDom,attr,delimiter,len){
        var params = "";
        var index = 0;
        delimiter = delimiter?delimiter:";"
        len = len?len:false;
        for(var i=0;i<$childsDom.length;i++){
            $li = $childsDom.eq(i);
            if($li.hasClass("state-complete")){
                index++;
                if(len && index>len){
                    break;
                }
                params += $li.data(attr) + delimiter;
            }
        }
        // 删除最后一个分隔符
        params = params.substring(0,params.length-1);
        return params;
    }

    $(document).ready(function(){
        $("#signupForm").validate({
            rules: {
                name: "required",
                category_id: "required",
                click_num: {
                    required: true,
                    min: 0,
                    digits:true
                },
                content: "required"
            },
            messages: {
                name: "标题不能为空",
                click_num: "点击数必须是正整数并且不能为空",
                content: "内容不能为空"
            },
            submitHandler: function(form){
                // 获取产品详情页
                var $img_list_childs = $("#uploader .filelist > li");
                var imgs_url = setUpdateUrl($img_list_childs,'src','',1);
                var imgs_id = setUpdateUrl($img_list_childs,'img_id',",");
                params = "&img_url="+imgs_url+"&img_id="+imgs_id;
                console.log(params);
                reqAjaxJson.init({
                    url: "{:Url('save')}",
                    reqData: $('#signupForm').serialize()+params,
                    redirectP: "/artlist"
                });
            }
        });
    });


    feiy_upload.init({
        wrap:$("#uploader"),
        filePicker: $("#uploader").find(".filePicker"),
        uploadId: "#uploader",
        server: config.upload_server,
        fileNumLimit: 3
    });



</script>



{/block}
