<form id="edit-form">
    <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'></span></button><h4 class='modal-title' id='exampleModalLabel'>添加管理员</h4>
    </div>
    <div class='modal-body'>
        <div class='form-group'>
            <label class='control-label'>用户名</label>
            <input type='text' class='form-control' name='name' value="{$userData.name}">
        </div>
        <div class='form-group'>
            <label class='control-label'>密码</label>
            <input type='password' class='form-control' name='passwords' value="{$userData.passwords}">
        </div>
        {if condition="$userData.name != 'admin'"}
        <div class='form-group '>
            <label class='control-label'>角色</label>
            <div class="user-role-checked">
                {if condition="!empty($groupsData)"}
                {volist name="groupsData" id="data"}
                <label>
                    <input name="groups_id[]" value="{$data.id}" {if condition='in_array($data.id,$group_sel_arr)'}checked{/if} class="inverted" type="checkbox">
                    <span class="text">{$data.title}</span>
                </label>
                {/volist}
                {else /}
                <a href="{:url('/role')}">请添加角色</a>
                {/if}
            </div>
        </div>
        {/if}
    </div>
    <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
        <button type='button' class='btn btn-primary edit-sub' data-id="{$userData.id}" data-group_ids="{$userData.group_ids}">提交</button>
    </div>
</form>