{extend name="public:base" /}
{block name="property"}
<meta name="description" content="">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>电商cms</title>
<link rel="stylesheet" href="__RES_ADMIN__/assets/beyond/css/beyond.css">
{/block}
{block name="content"}
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              用户管理员
                          </header>
                          <div class="cate-opear">
                              <span class="btn btn-shadow btn-danger add-user-btn" data-toggle="modal" data-target="#add-user-modal">添加管理员</span>
                          </div>
                          <table class="table table-striped border-top" id="sample_1">
                          <thead>
                          <tr>
                              <th style="width:8px;"></th>
                              <th>id</th>
                              <th>用户名</th>
                              <th class="hidden-phone">角色</th>
                              <th class="hidden-phone">操作</th>
                          </tr>
                          </thead>
                          <tbody>
                            {volist name="userData" id="data"}
                              <tr class="odd gradeX">
                                  <td></td>
                                  <td>{$data.id}</td>
                                  <td>{$data.name}</td>
                                  <td class="hidden-phone">{if condition="($data.title == '') and ($data.name != 'admin') "}无角色{elseif condition="$data.name eq 'admin'"}超级管理员{else/}{$data.title}{/if}</td>
                                  <td class="view-message"><span class="btn btn-primary btn-xs mr10 btn-del" data-id="{$data.id}" data-toggle="modal" data-target="#del-modal">删除</span> <span data-id="{$data.id}" data-group_ids="{$data.group_ids}" data-target="#edit-user-modal" data-toggle="modal" class="btn btn-primary btn-xs btn-edit">编辑</span></td>
                              </tr>
                            {/volist}
                          </tbody>
                          </table>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->

    <!--添加管理员-->
    <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog cate-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!--编辑管理员-->
    <div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog cate-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>


    <!-- 删除dialog -->
    <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog cate-dialog" role="document">
            <div class="modal-content">
                <form id='cate-del-form'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'></span></button><h4 class='modal-title'>删除</h4>
                    </div>
                    <div class='modal-body' style=" font-size: 18px; padding: 20px 0 10px 30px;">
                        <span>是否要删除！</span>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
                        <button type='button' class='btn btn-primary del-sub'>提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
    <script>
        loadPage.init({
            "clickDom": $(".add-user-btn"),
            "modalConDom": $("#add-user-modal .modal-content"),
            "url": "{:url('add')}"
        });

        loadPage.init({
            "clickDom": $(".btn-edit"),
            "modalConDom": $("#edit-user-modal .modal-content"),
            "url": "{:url('edit')}",
            "attrArr": ['id','group_ids']
        });

        <!--ajax请求-->
        $("#add-user-modal").on("click",'.add-sub',function(){
            reqAjaxJson.init({
                url: "{:Url('add')}",
                reqData: $('#add-form').serialize(),
                modalDom: $('#add-user-modal'),
                redirectP: "{:Url('/user')}"
            });
        });

        $("#edit-user-modal").on("click",'.edit-sub',function(){
            var id = $(this).data("id");
            var group_ids = $(this).data("group_ids");
            reqAjaxJson.init({
                url: "{:Url('edit')}?id="+id+"&group_ids="+group_ids,
                reqData: $('#edit-form').serialize(),
                modalDom: $('#edit-user-modal'),
                redirectP: "{:Url('/user')}"
            });
        });

        // 删除
        modelReq({
            "modalId": "#del-modal",
            "url": "{:url('del')}",
            "redirectP": "{:Url('/user')}",
            "sureClass": ".del-sub",
            "btnClass": ".btn-del"
        });
    </script>
{/block}


